*{
  background-color: skyblue;
}
h1{
  background-color:grey;
  padding: 8px 12px 16px 20px;
  margin: 20px 500px 20px 500px ;
}
#sub{
 margin:4px 350px 4px 400px;
  padding: 4px 4px 4px 4px;
}
#sub2{

margin:4px 475px 4px 475px ;
  padding: 4px 12px 4px 12px;
}
#sub3{
  margin:4px 475px 4px 475px ;
  padding: 4px 12px 4px 12px;
}
#sub4{
  margin:4px 250px 4px 250px ;
}
main{
background-color: white;
margin:4px 475px 4px 475px ;
padding: 4px 12px 4px 12px;
}
article{
  background-color: white;
}
p{
  background-color: white;
}
#sub5{
  margin:4px 400px 4px 550px ; 
}
#sub6{
  background-color: white;
}